* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
}

.title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 26px;
}

.message-box {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
}

.choice {
    background-color: #ffffff00;
    width: 100px;
    border: 5px solid white;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.box {
    background-color: #ffffff00;
    width: 150px;
    height: 150px;
    border: 5px solid white;
}

.score {
    font-size: 48px;
    text-align: center;
}

.condition {
    font-size: 16px;
    margin-top: 12px;
}

.buttons {
    text-align: center;
}

.play, .restart, .play-again {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    width: 250px;
    padding: 20px;
    border: 5px solid white;
}

.restart {
    color: white;
    background-color: #ffffff00;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}


